@use "../mixins" as *;
@use "../media" as *;
.burger-button {
    @include reset-button;
    @include square(48px);

    position: relative;
    border-radius: var(--border-radius-small);
    @include hover {
        background-color: var(--color-accent);
    }

    &::after {
        @include abs-center;

        content: "";
        width: 50%;
        height: 2px;
        background-color: var(--color-dark);
        border-radius: 5px;
        //рисуем остальные две полоски через box-shadow
        box-shadow:
            0px -8px,
            0 8px; //таким образом мы нарисовали еще две полоски
    }
}
