@use "../mixins" as *;
@use "../media" as *;
.footer {
    @include mobile {
        padding-inline: 0;
    }
    &__logo {
        align-self: center;
    }

    &__inner {
        padding: 55px 60px 50px;
        color: var(--color-light);
        background-color: var(--color-dark);

        @include mobile-above {
            border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
            row-gap: 37px;
            padding: 50px var(--container-padding-x) 30px;
        }
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;

        @include tablet {
            flex-direction: column;
            align-items: center;
            row-gap: 37px;
        }

        @include mobile {
            display: contents;
        }

        &:not(:last-child) {
            margin-bottom: 66px;
        }
    }

    &__menu {
        &-list {
            display: flex;
            align-items: center;
            column-gap: 40px;

            @include mobile {
                flex-direction: column;
                row-gap: 15px;
            }
        }

        &-link {
            display: inline-flex;
            align-items: center;
            height: 30px;
            text-decoration: underline;

            @include hover {
                color: var(--color-accent);
            }
        }
    }

    &__soc1als {
        @include mobile {
            order: 1;
            align-self: center;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        column-gap: 50px;

        @include mobile-above {
            &:not(:last-child) {
                padding-bottom: 50px;
                margin-bottom: 50px;
                border-bottom: 1px solid currentColor; //currentColor в данном случаи будет равен var(--color-light)
                //Потому что мы родительскому footer__inner указали color: var(--color-light), и этот цвет текста передался всем доч.элементам
            }
        }

        @include mobile {
            flex-direction: column;
            row-gap: inherit;
            align-items: center;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 27px;
        //font-style не наследуется от родителя

        @include mobile {
            align-items: center;
            text-align: center;
        }

        &-title {
            color: var(--color-dark);
        }

        &-body {
            font-style: normal;

            p {
                --paragraphMarginBottom: 20px;
            }

            a {
                @include hover {
                    color: var(--color-accent);
                }
            }
        }
    }

    &__extra {
        display: flex;
        column-gap: 40px;

        @include mobile {
            order: 2;
            flex-direction: column;
            align-items: center;
            row-gap: 15px;
            border-top: 1px solid currentColor;
            padding-top: 37px;
        }
    }

    &__privacy-policy-link {
        text-decoration: underline;

        @include hover {
            color: var(--color-accent);
        }
    }
}
