@use '../mixins' as *;
.mobile-overlay {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    padding: 14px 20px;

    &:modal {
        max-width: 100%;
        max-height: 100%;
        //Псевдокласс :modal — это относительно новый инструмент в CSS, 
        //который выбирает элемент, находящийся в активном модальном состоянии.
        // он срабатывает, когда элемент полностью перехватывает внимание 
        //пользователя и блокирует взаимодействие с остальной частью страницы.
        //Этот псевдокласс на данный момент применяется только к тегу dialog
        //И важно еще то, что :modal сработает только если мы открываем dialog 
        //через метод showModal(). При showModal() диалоговое окно откроется, 
        //а контент за ней блокируется, то есть нельзя нажать на кнопки за модальным окном. 
        //Они станут активны, если закрыть модальное окно
    }
    &__close-button-wrapper {
        display: flex;
        justify-content: end;
    }
    &__list {
        @include flex-center;
        flex-direction: column;
        min-height: 80vh;
        row-gap: 30px;
    }

}